name: NodeJS with Gulp

on:
  push:
    branches: ["hexo"]
  pull_request:
    branches: ["hexo"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "24.x"

      - name: Build
        run: |
          npm install
          npx hexo clean
          npx hexo generate
          gulp

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        if: github.event_name != 'pull_request'
        with:
          personal_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          publish_branch: master # default: gh-pages
